@page
@model IndexModel
<div style="display: flex; align-items: center; justify-content: center; height: 100vh">
	<div class="centered-container" style="max-width: 100%; text-align: center; margin-bottom: 25vh;">
		<h1 style="margin-bottom: 15vh;">Your Meal Planning Journey Ends Here</h1>
		<a href="/plan" class="waves-effect waves-light btn-large">See My Plan</a>
		<a class="waves-effect waves-light btn-large">Add A Meal</a>
	</div>
</div>
